<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compileBitcode</key>
	<false/>
	<key>destination</key>
	<string>export</string>
	<key>manifest</key>
	<dict>
		<key>appURL</key>
		<string>https://yegs.github.io/pd/Runner 2020-08-25 14-56-02/Runner.ipa</string>
		<key>displayImageURL</key>
		<string>https://yegs.github.io/pd/57.png</string>
		<key>fullSizeImageURL</key>
		<string>https://yegs.github.io/pd/512.png</string>
	</dict>
	<key>method</key>
	<string>development</string>
	<key>provisioningProfiles</key>
	<dict>
		<key>com.phemex.submit</key>
		<string>com.phemex.dev</string>
	</dict>
	<key>signingCertificate</key>
	<string>8B6320291D4CD656D9FCDA9D57D6FB60EC601868</string>
	<key>signingStyle</key>
	<string>manual</string>
	<key>stripSwiftSymbols</key>
	<false/>
	<key>teamID</key>
	<string>79ZWP448RM</string>
	<key>thinning</key>
	<string>&lt;none&gt;</string>
</dict>
</plist>
