<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Runner.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>8B6320291D4CD656D9FCDA9D57D6FB60EC601868</string>
				<key>dateExpires</key>
				<string>2021/3/16</string>
				<key>type</key>
				<string>iOS Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8B6320291D4CD656D9FCDA9D57D6FB60EC601868</string>
						<key>dateExpires</key>
						<string>2021/3/16</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>AFNetworking.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>79ZWP448RM</string>
						<key>name</key>
						<string>PHEMEX TECHNOLOGY PTE. LTD.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8B6320291D4CD656D9FCDA9D57D6FB60EC601868</string>
						<key>dateExpires</key>
						<string>2021/3/16</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>79ZWP448RM</string>
						<key>name</key>
						<string>PHEMEX TECHNOLOGY PTE. LTD.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8B6320291D4CD656D9FCDA9D57D6FB60EC601868</string>
						<key>dateExpires</key>
						<string>2021/3/16</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>79ZWP448RM</string>
						<key>name</key>
						<string>PHEMEX TECHNOLOGY PTE. LTD.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8B6320291D4CD656D9FCDA9D57D6FB60EC601868</string>
						<key>dateExpires</key>
						<string>2021/3/16</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>FMDB.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>79ZWP448RM</string>
						<key>name</key>
						<string>PHEMEX TECHNOLOGY PTE. LTD.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8B6320291D4CD656D9FCDA9D57D6FB60EC601868</string>
						<key>dateExpires</key>
						<string>2021/3/16</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>79ZWP448RM</string>
						<key>name</key>
						<string>PHEMEX TECHNOLOGY PTE. LTD.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8B6320291D4CD656D9FCDA9D57D6FB60EC601868</string>
						<key>dateExpires</key>
						<string>2021/3/16</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>GTMSessionFetcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>79ZWP448RM</string>
						<key>name</key>
						<string>PHEMEX TECHNOLOGY PTE. LTD.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8B6320291D4CD656D9FCDA9D57D6FB60EC601868</string>
						<key>dateExpires</key>
						<string>2021/3/16</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>GoogleToolboxForMac.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>79ZWP448RM</string>
						<key>name</key>
						<string>PHEMEX TECHNOLOGY PTE. LTD.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8B6320291D4CD656D9FCDA9D57D6FB60EC601868</string>
						<key>dateExpires</key>
						<string>2021/3/16</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>79ZWP448RM</string>
						<key>name</key>
						<string>PHEMEX TECHNOLOGY PTE. LTD.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8B6320291D4CD656D9FCDA9D57D6FB60EC601868</string>
						<key>dateExpires</key>
						<string>2021/3/16</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>Reachability.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>79ZWP448RM</string>
						<key>name</key>
						<string>PHEMEX TECHNOLOGY PTE. LTD.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8B6320291D4CD656D9FCDA9D57D6FB60EC601868</string>
						<key>dateExpires</key>
						<string>2021/3/16</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>79ZWP448RM</string>
						<key>name</key>
						<string>PHEMEX TECHNOLOGY PTE. LTD.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8B6320291D4CD656D9FCDA9D57D6FB60EC601868</string>
						<key>dateExpires</key>
						<string>2021/3/16</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>SensorsAnalyticsSDK.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>79ZWP448RM</string>
						<key>name</key>
						<string>PHEMEX TECHNOLOGY PTE. LTD.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8B6320291D4CD656D9FCDA9D57D6FB60EC601868</string>
						<key>dateExpires</key>
						<string>2021/3/16</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>ZLPhotoBrowser.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>79ZWP448RM</string>
						<key>name</key>
						<string>PHEMEX TECHNOLOGY PTE. LTD.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8B6320291D4CD656D9FCDA9D57D6FB60EC601868</string>
						<key>dateExpires</key>
						<string>2021/3/16</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>auto_orientation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>79ZWP448RM</string>
						<key>name</key>
						<string>PHEMEX TECHNOLOGY PTE. LTD.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8B6320291D4CD656D9FCDA9D57D6FB60EC601868</string>
						<key>dateExpires</key>
						<string>2021/3/16</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>connectivity.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>79ZWP448RM</string>
						<key>name</key>
						<string>PHEMEX TECHNOLOGY PTE. LTD.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8B6320291D4CD656D9FCDA9D57D6FB60EC601868</string>
						<key>dateExpires</key>
						<string>2021/3/16</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>device_info.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>79ZWP448RM</string>
						<key>name</key>
						<string>PHEMEX TECHNOLOGY PTE. LTD.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8B6320291D4CD656D9FCDA9D57D6FB60EC601868</string>
						<key>dateExpires</key>
						<string>2021/3/16</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>flutter_custom_dialog.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>79ZWP448RM</string>
						<key>name</key>
						<string>PHEMEX TECHNOLOGY PTE. LTD.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8B6320291D4CD656D9FCDA9D57D6FB60EC601868</string>
						<key>dateExpires</key>
						<string>2021/3/16</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>flutter_user_agent.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>79ZWP448RM</string>
						<key>name</key>
						<string>PHEMEX TECHNOLOGY PTE. LTD.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8B6320291D4CD656D9FCDA9D57D6FB60EC601868</string>
						<key>dateExpires</key>
						<string>2021/3/16</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>flutter_webview_plugin.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>79ZWP448RM</string>
						<key>name</key>
						<string>PHEMEX TECHNOLOGY PTE. LTD.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8B6320291D4CD656D9FCDA9D57D6FB60EC601868</string>
						<key>dateExpires</key>
						<string>2021/3/16</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>fluttertoast.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>79ZWP448RM</string>
						<key>name</key>
						<string>PHEMEX TECHNOLOGY PTE. LTD.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8B6320291D4CD656D9FCDA9D57D6FB60EC601868</string>
						<key>dateExpires</key>
						<string>2021/3/16</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>image_pickers.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>79ZWP448RM</string>
						<key>name</key>
						<string>PHEMEX TECHNOLOGY PTE. LTD.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8B6320291D4CD656D9FCDA9D57D6FB60EC601868</string>
						<key>dateExpires</key>
						<string>2021/3/16</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>79ZWP448RM</string>
						<key>name</key>
						<string>PHEMEX TECHNOLOGY PTE. LTD.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8B6320291D4CD656D9FCDA9D57D6FB60EC601868</string>
						<key>dateExpires</key>
						<string>2021/3/16</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>package_info.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>79ZWP448RM</string>
						<key>name</key>
						<string>PHEMEX TECHNOLOGY PTE. LTD.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8B6320291D4CD656D9FCDA9D57D6FB60EC601868</string>
						<key>dateExpires</key>
						<string>2021/3/16</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>path_provider.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>79ZWP448RM</string>
						<key>name</key>
						<string>PHEMEX TECHNOLOGY PTE. LTD.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8B6320291D4CD656D9FCDA9D57D6FB60EC601868</string>
						<key>dateExpires</key>
						<string>2021/3/16</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>phemex_vibration.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>79ZWP448RM</string>
						<key>name</key>
						<string>PHEMEX TECHNOLOGY PTE. LTD.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8B6320291D4CD656D9FCDA9D57D6FB60EC601868</string>
						<key>dateExpires</key>
						<string>2021/3/16</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>protobuf.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>79ZWP448RM</string>
						<key>name</key>
						<string>PHEMEX TECHNOLOGY PTE. LTD.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8B6320291D4CD656D9FCDA9D57D6FB60EC601868</string>
						<key>dateExpires</key>
						<string>2021/3/16</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>sensors_analytics_flutter_plugin.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>79ZWP448RM</string>
						<key>name</key>
						<string>PHEMEX TECHNOLOGY PTE. LTD.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8B6320291D4CD656D9FCDA9D57D6FB60EC601868</string>
						<key>dateExpires</key>
						<string>2021/3/16</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>share_extend.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>79ZWP448RM</string>
						<key>name</key>
						<string>PHEMEX TECHNOLOGY PTE. LTD.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8B6320291D4CD656D9FCDA9D57D6FB60EC601868</string>
						<key>dateExpires</key>
						<string>2021/3/16</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>shared_preferences.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>79ZWP448RM</string>
						<key>name</key>
						<string>PHEMEX TECHNOLOGY PTE. LTD.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8B6320291D4CD656D9FCDA9D57D6FB60EC601868</string>
						<key>dateExpires</key>
						<string>2021/3/16</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>sqflite.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>79ZWP448RM</string>
						<key>name</key>
						<string>PHEMEX TECHNOLOGY PTE. LTD.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8B6320291D4CD656D9FCDA9D57D6FB60EC601868</string>
						<key>dateExpires</key>
						<string>2021/3/16</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>url_launcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>79ZWP448RM</string>
						<key>name</key>
						<string>PHEMEX TECHNOLOGY PTE. LTD.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8B6320291D4CD656D9FCDA9D57D6FB60EC601868</string>
						<key>dateExpires</key>
						<string>2021/3/16</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>vibration.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>79ZWP448RM</string>
						<key>name</key>
						<string>PHEMEX TECHNOLOGY PTE. LTD.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8B6320291D4CD656D9FCDA9D57D6FB60EC601868</string>
						<key>dateExpires</key>
						<string>2021/3/16</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>webview_flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>79ZWP448RM</string>
						<key>name</key>
						<string>PHEMEX TECHNOLOGY PTE. LTD.</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>79ZWP448RM.com.phemex.submit</string>
				<key>aps-environment</key>
				<string>development</string>
				<key>com.apple.developer.team-identifier</key>
				<string>79ZWP448RM</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>454707c4-f9e4-496a-9af1-705425d2665f</string>
				<key>name</key>
				<string>com.phemex.dev</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>79ZWP448RM</string>
				<key>name</key>
				<string>PHEMEX TECHNOLOGY PTE. LTD.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
